---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: source=tok_1CIA0dJRUl9RxNu4yoPTxoYz
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_ChZ8n2WOIjO3HZ",
          "object": "customer",
          "account_balance": 0,
          "created": 1524033795,
          "currency": null,
          "default_source": "card_1CIA0dJRUl9RxNu4DecQLIHW",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "F5F43A4",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CIA0dJRUl9RxNu4DecQLIHW",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "BR",
                "customer": "cus_ChZ8n2WOIjO3HZ",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2027,
                "fingerprint": "Scdwm37TdQgJGbIJ",
                "funding": "credit",
                "last4": "0002",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_ChZ8n2WOIjO3HZ/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_ChZ8n2WOIjO3HZ/subscriptions"
          }
        }
  recorded_at: Wed, 18 Apr 2018 06:43:16 GMT
recorded_with: VCR 4.0.0
