---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: source[stripeToken]=Stripe+Token
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "The source hash must include an 'object' key indicating what type of source to create.",
            "param": "source",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Wed, 18 Apr 2018 08:58:37 GMT
recorded_with: VCR 4.0.0
