<!DOCTYPE html>
<html>
  <head>
    <title>StripeTesting</title>
    <%= csrf_meta_tags %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
